<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/584b7aa8-65df-4f37-8289-b4f07bb109e3/resourceGroups/rma-resource/providers/Microsoft.ApiManagement/service/RMA-APIapi/apis/RMA-API</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/584b7aa8-65df-4f37-8289-b4f07bb109e3/resourcegroups/rma-resource/providers/Microsoft.Web/sites/RMA-API20220206133123</ResourceId>
    <ResourceGroup>rma-resource</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://rma-api20220206133123.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>97d0c1dc-afe5-4340-815e-7d08f7bb7a9a</ProjectGuid>
    <PublishUrl>https://rma-api20220206133123.scm.azurewebsites.net/</PublishUrl>
    <UserName>$RMA-API20220206133123</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>